.app-container {
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

.brown-band {
  height: 3px;
  background-color: #4A310D;
}

.main-logo {
  width: 600px;
  margin: 50px;
}

.spotify-logo {
  width: 200px;
}

.app-instructions {
  font-size: 2rem;
  font-weight: 400;
  padding: 0 10%;
}

.connect-now-button {
  width: 300px;
}
