.day-schedule-top,
.day-schedule-bottom {
  min-height: 140px;
}

.day-schedule-middle {
  min-height: 1000px;
  padding-top: 22px;
}

.columns-container {
  display: flex;
  justify-content: center;
}
